[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
opencv-python = "*"
tensorflow-gpu = "*"
keras = "*"
socketio = "*"
eventlet = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.6"
